.navbar 
{
background: linear-gradient(to right, #0044ff, #373B44); /*pozadina za Navbar*/
    font-family: 'Quicksand', sans-serif; /*Tip fonta za navbar*/
    font-weight: 500; /*Debljina Fonta Za Navbar*/
}
.footerstyle
{
    background: linear-gradient(to right, #0044ff, #373B44); /*pozadina za Footer*/
    font-family: 'Quicksand', sans-serif; /*Tip fonta za footer*/
    font-weight: 500; /*Debljina Fonta Za footer*/
}
.newfont{/*Klasa za promenu fonta na nekim mestima*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 500; 
}

 .nav-link 
{
    color:white;/*Boja linkova u navbaru*/
}

 .nav-link:hover
{
    color:#ff6f00;/*Boja linkova u navbaru kada se predje preko njih*/
    transition: color 0.5s ease-in-out;/*Promena boje iz bele u narandzastu traje pola sekunde(0.5s)*/
}

#logoimg
{
    width:9%/*Sirina logo slike u navbaru - gornji levi ugao*/
}

#logotext
{
    color: white;/*Boja teksta pored logo-a - gornji levi ugao*/
}

#banner
{
    background: linear-gradient(to right, #0044ff, #373B44); /*pozadina za Banner*/
}
h1,h2,h3,h4,h5 /*Font za naslove h1-h5 tip i debljina fonta*/
{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500; 
}

#getstartedbtn /*Dugme zapocnite koriscenje*/
{
    border: 1px solid #ff6f00;
    
    font-size: 1.3rem;
}

#getstartedbtn:hover /*Kada se predje preko dugmeta zapocnite koriscenje postaje narandzasto*/
{
    background-color: #ff6f00;
}

.paragraf{/*Stil za Paragrafe*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 500; 
    font-size: 0.9rem;
    line-height: 24px;
    text-align: center;
}

.btnn{
    border-color: #ff6f00;
    color: #ff6f00;
}
/*Responzivan video*/
@media screen and (max-width: 576px) { 
    .resp
    {
        width: 75%;
    }
}
@media screen and (min-width: 991.98px) { 
    .resp
    {
        width: 50%;
    }
}
/*Responzivan video*/
@media screen and (max-width: 576px) { 
    .resp1
    {
        width: 100%;
    }
}
@media screen and (min-width: 991.98px) { 
    .resp1
    {
        width: 100%;
    }
}

/*vracanje na vrh stranice(Narandzasti krug)*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(247, 78, 0, 0.897);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}
/*vracanje na vrh stranice(strelica)*/
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}

/*hover preko strelice za vracanje na vrh stranice*/
#return-to-top:hover {
    background: #ff6f00;
    cursor: pointer;
    
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*Ucitavanje stranice(Bela Pozadina)*/
.preloaderBg {
    position: fixed;
    z-index: 10; 
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}
/*Ucitavanje Stranice(Magento Logo)*/
.preloader {
    margin: auto;
    margin-top: 15%;
    background: url(images/logo.png) no-repeat center;
    background-size: 150px;
    width: 300px;
    height: 300px;

}

/*Ucitavanje stranice(Animacija)*/
.preloader2 {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ff6f00;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin 1s ease-in-out infinite ;
  position: relative;
  margin: auto;
  top: -280px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 /* Koliko je skrolovana stranica(Narandzasta linija fiksirana na vrh)
#_progress {
    --scroll: 0%;
    background: linear-gradient(to right, #ff6f00 var(--scroll),transparent 0);
    position: fixed;
    width: 100%;
    height: 5px;
    top:0px;
    z-index: 100;
} */

/*Magento logo (Konkurencija)*/
.imgs
{
    transition: box-shadow .5s;
    border-radius: 10px;
    padding:10px;

}

.imgs:hover{
    box-shadow: 0 0 11px rgba(240, 61, 7, 0.5); 
}

/*Shopify Logo (Konkurencija)*/
.imgm
{
    transition: box-shadow .5s;
    border-radius: 10px;
    padding:10px;

}

.imgm:hover{
    box-shadow: 0 0 11px rgba(81, 240, 7, 0.5); 
}

/*Bigcommerce Logo (Konkurencija)*/
.imgb
{
    transition: box-shadow .5s;
    border-radius: 10px;
    padding:10px;

}
#pt{
    transition: opacity 0.5s ease-in-out;
}
.imgb:hover:hover{
    box-shadow: 0 0 11px rgba(10, 0, 48, 0.5); 
}

